* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/*Global Settings*/
.dark-mode {
  --bg: #343e59;
  --primar-color: #fff;
  --second-color: #fff;
  --second-color-light: #fff;
  --gray: #fff;
}
.light-mode {
  --bg: #fff;
  --primar-color: #222;
  --second-color: #7d5ea2;
  --second-color-light: #eacffa;
  --gray: #f4f4f4;
}

.Serif {
  --font-face: "Libre Baskerville";
  --font-weight: bold;
}
.Sans-serif {
  --font-face: "Poppins";
  --font-weight: regular;
}

body {
  font-family: var(--font-face);
  font-weight: var(--font-weight);
  font-size: 16px;
  background-color: var(--bg);
  transition: all 0.2s ease;
}

.page-header {
  margin: 50px 0;
  position: sticky;
  top: 0;
  padding: 20px 0;
  background-color: var(--bg);
}

.container {
  padding: 0 20px;
  max-width: 740px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.functional {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*Font Switcher*/

.dropdown {
  display: flex;
  gap: 10px;
  padding: 10px 10px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: var(--primar-color);
  background-color: transparent;
  cursor: pointer;
}

.font-dropdown {
  padding: 0 20px;
  border: 1px solid transparent;
  border-bottom: none;
  border-right: 1px solid var(--primar-color);
  position: relative;
  cursor: pointer;
}
.font-dropdown:hover {
  border-color: var(--gray);
  border-radius: 20px 20px 0 0;
}
.font-dropdown:hover .dropdown-content {
  height: auto;
  opacity: 1;
  transition: all 0.4s ease;
}

.dropdown-content {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: var(--font-weight);
  font-size: 14px;
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
  border: 1px solid var(--gray);
  border-top: none;
  overflow: hidden;
  height: 0%;
  transition: all 0.4s ease;
  opacity: 0;
}

.option {
  padding: 15px 20px;
  background-color: var(--bg);
  color: var(--primar-color);
}
.dropdown-content li:hover {
  cursor: pointer;
  background-color: var(--gray);
  color: var(--dark);
}

.dropdown svg {
  width: 10px;
}

/*Theme Toggler*/

.toggler {
  display: flex;
  align-items: center;
  gap: 20px;
}

.theme-toggle {
  width: 35px;
  height: 20px;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--primar-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.theme-toggle .indicator {
  background-color: var(--primar-color);
  width: 12px;
  height: 14px;
  border-radius: 100px;
  transition: all 0.4s ease-in-out;
}
.dark {
  align-items: flex-end;
  transition: all 0.4s ease-in-out;
}

/*Search Form*/
form {
  margin-top: 50px;
  display: flex;
  background-color: var(--gray);
  align-items: center;
  padding: 0 24px;
  border-radius: 20px;
}

.search {
  width: 100%;
  background-color: var(--gray);
  outline: none;
  padding: 24px 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.search-button {
  cursor: pointer;
}

/*Result Block*/

.phonetica {
  padding: 50px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--primar-color);
    &__word {
      font-size: 55px;
    }
    &__subtitle {
      color: var(--second-color);
      font-size: 24px;
    }
  }
}

.audio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  background-color: var(--second-color-light);
  border-radius: 100px;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover {
    border-color: var(--second-color);
  }
  svg {
    padding-left: 3px;
  }
}

.meaning {
  padding: 50px 0;
  color: var(--primar-color);
  &-header {
    display: flex;
    align-items: center;
    gap: 10px;
    &__text {
      font-size: 18px;
      font-style: italic;
      line-height: 1;
    }
  }
  &-content {
    padding-top: 50px;
  }

  .synonym {
    padding: 7px 15px;
    line-height: 1;
    border-radius: 100px;
    background-color: var(--second-color-light);
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--primar-color);
  opacity: 0.1;
}

[class^="meaning-list-"] {
  margin: 20px 0 40px 0;
  list-style: circle;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
[class^="meaning-synonymes-"] {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  white-space: nowrap;
}
